body 
{
	/*font: 14px/200% "Helvetica Neue", Helvetica, Arial, Sans-serif;					*/
	background: #eeeeee;
}

#container {
   padding: 5%; 
   position: absolute;
   width: 90%;
   height: 90%;
   min-width: 200px;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   display: flex;
   flex-direction: column;
}

a, a:link, a:visited { text-decoration: none; }

.button {
   background-color: rgb(255, 174, 0);

   border: solid 1px rgba(9,81,126,0);
   -webkit-border-radius: 26px;
      -moz-border-radius: 26px;
           border-radius: 26px;
   line-height: 50px;
   text-align: center;
   color: rgba(255,255,255,1);
   font-weight: bold;
   /*text-shadow: 0px -1px 0px rgba(0,0,0,0.66);*/
   -webkit-user-select:none;
   cursor: pointer;
   flex: 1 1 auto;
   min-height: 100px;
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: 21px; 
   /* Src: http://codepen.io/CrocoDillon/pen/fBJxu*/
   font-size: calc(4vw + 4vh + 2vmin);
}

.button:visited {
   background-color: rgb(255, 174, 0); 
}
/*
.button:hover {
   background-color: rgb(240, 154, 0);
}*/

.button:active {
   background-color: rgb(240, 154, 0);
   -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
           transform: translateY(10px);
}