
body {
	display: block;
	margin: 0px;
	background-color: #000000;
	height: 100%;
	word-wrap: break-word;
}

h1 {
	display: block;
	font-size: 1em;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 20px;
	-webkit-margin-end: 0px;
	font-weight: normal;
}

img.backgroundImg {
	position: absolute;
	overflow-x: hidden;
}

#background {
	position: absolute;
}

#contentWrapper {
	position: relative;
	font-family: "Open Sans", "Verdana";
	padding: 0px;
	margin: 0px;
	z-index: 999999999;
}

header, #contentListDiv, #statusMsgDiv {
	display: block;
	padding: 20px 20px 20px 20px;
	margin: 0px;
	clear: both;
	width: 660px;
	background-color: rgba(255, 255, 255, 0.8);
}

header h1, #contentListDiv h1, #statusMsgDiv h1 {
	vertical-align: top;
	display: inline-block;
	font-size: 1em;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: normal;
	padding-right: 20px;
	width:150px; 
}

header p, #contentListDiv ul, #statusMsgDiv p {
	display: inline-block;
	font-size: 0.7em;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: normal;
	padding: 0px 0px;
	width:460px;
}

#contentListDiv li, #statusMsgDiv li {
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding-top: 0px;
}

div.actions  {
	padding: 0px 0px 0px 0px;
	display:inline-block;
}

.contentItemTitle, .contentItem a {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
	word-wrap: break-word;
	width:460px;
}

.contentItemTitle {
	padding-right: 20px;	
} 

article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
display: block;
float: left;
}
