
body {
	display: block;
	margin: 0px;
}

h1 {
	display: block;
	font-size: 1em;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 20px;
	-webkit-margin-end: 0px;
	font-weight: normal;
}

header {
	display: block;
	padding: 20px 0px 20px 20px;
	margin: 0px;
	clear: both;
	max-width: 680px;
	background-color: #EFF0F1;
}

input[type="text"] {
	padding: 5px;
	width: 308px;
	min-height: 35px;
	font-size: 12px;
	border-radius: 0px;
}

input[type="button"] {
	width: 320px;
	min-height: 40px;
	padding: 5px;
	-webkit-appearance: default-button;
	text-align: center;
	color: #222222;
	font-family: "Open Sans", "Verdana";
	font-size: 12px;
	border: 0px solid #999;
	border-radius: 0px;
	margin: 0px 0px 0px 0px;
	background-color: #D7D9DB;
}

.lib {
	display:none;
}

#statusMsgDiv {
	display: block;
	padding: 20px 20px 20px 20px;
	margin: 0px;
	clear: both;
	max-width: 660px;
	background-color: #D3BADB;
}

header h1, #statusMsgDiv h1 {
	vertical-align: top;
	display: inline-block;
	font-size: 1em;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: normal;
	width:170px;
}

header p, #statusMsgDiv p{
	display: inline-block;
	font-size: 0.7em;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: normal;
	width:460px;
}

#contentWrapper {
	position: relative;
	font-family: "Open Sans", "Verdana";
	padding: 0px;
	margin: 0px;
}


ul#contentList, ul#incomingMsgList, ul.msgItemBox {
	-webkit-padding-start: 0px;
	list-style-type: none;
}

h1#contentHeader, h1#incomingMsgHeader {
	font-size: 14px;
	font-weight: normal;
	min-height: 20px;
	text-align: center;
	vertical-align: middle;
	-webkit-box-align: center;	
	-webkit-margin-before: 12px;
	-webkit-margin-after: 8px;
	-webkit-margin-start: 5px;
	-webkit-margin-end: 5px;
}

.contentItemHeader, .incomingMsgIdHeader {
	font-weight: normal;
	padding: 12px 5px 8px 5px;
	background-color: #D7D9DB;
	min-height: 20px;
	align: center;
	vertical-align: middle;
	-webkit-box-align: center;
}

h1.contentItemName, h1.incomingMsgId {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-webkit-box-align: center;
}

ul#contentList, ul#incomingMsgList {
	width: 262px;
	margin: 0px 0px;
}

#contentListDiv, #incomingMsgDiv {
	padding: 0px 20px;
	position: relative;
	float: left;
	display: inline-block;
	width: 320px;
	border: 1px #000000;
	visibility: hidden;
}

li.incomingMsgItem, li.contentItem {
	padding: 5px 0px;
	width: 320px;
	position: relative;
	/*padding: 0px 0px 15px 0px;*/
	clear: both;
	display: inline-block;
	float:left;
}

ul.msgItemBox {
	padding: 0px 0px;
	width: 320px;
}

li.msgInlet, li.msgTxt {
	display: inline-block;
	vertical-align: top;
	width: 310px;
	padding: 5px 5px 5px 5px;
	min-height: 30px;
}

li.msgInlet {
	background-color: #B0EDFF;
}

li.msgTxt {
	background-color: #A8B6FF;
}

div.actions  {
	padding: 0px 0px 0px 0px;
	display:inline-block;
}

.msgFields, .msg {
	margin: 0px;
	padding: 0px
}

.outgoingMsg {
	background-color: #D3BADB;
	border: 1px solid #D3BADB;
}

.incomingMsg {
	background-color: #FAC5DF;
	border: 1px solid #FAC5DF;
}

.sourceOutputLists {
	background-color: #BAEAF8;
	min-height: 40px;	
}

.sourceItem {
	margin: 0px;
	padding: 0px	
}


.plusOne.button {
	color: #222222;
	margin-top:5px;
	margin-bottom:15px;
	font-weight: normal;
}

.plusOne.button:hover {
	background-color: #ECE6A4;
}

.minusOne.button {
	background-color: #EFF0F1;
}

.minusOne.button:hover {
	background-color: #EDC398;
}

.fire.button {
	background-color: #D7D9DB;
}

.fire.button:hover {
	background-color: #C6DAA2;
}

.btTransformMsg.button {
	color: #222222;
}

.btTransformMsg.button:hover {
	background-color: #8888ff;

}

select {
	border: 0px;
	width: 150px;
	min-height: 40px;
}

.inletList {
	margin: 10px 4px 10px 3px;
}

.outletList {
	margin: 10px 3px 10px 4px;
}

li.contentItem .thumb {
	/*background-image:url(img/size-move-2.png);*/
	background-image: url(../img/size-move-2.png);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 100%;
	background-color: rgba(0,0,0,.1);
	border-left: 1px solid #666;
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 4px;
}

.label {
	font-size:12px;
	color:#666666;
	display: block;
	padding-top:6px;
	padding-bottom:3px;
}


.incomingMsgItem {
	font-size:12px;
}


div#headerContent {
	position:relative;
	display: block;
	clear: both;
	min-height: 180px;
	float:left;
	margin-left:25px;
	margin-bottom:25px;

}

div#contentList {
	position:relative;
	display: block;
	clear: both;
	min-height: 180px;
	float:left;
	margin-bottom:25px;
	width:100%;
	
}

article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
display: block;
float: left;
}
